.modal-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.modal-window.active-modal {
    opacity: 1;
    pointer-events: all;
}

.modal-window-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 70px 50px;
    background-color: #fff;
    border-radius: 5px;
    transform: translateY(-80px);
    transition: all .5s;
}

.modal-window-content.active-modal {
    transform: translateY(0px);
}