.adminOrderCard {
    border: 1px solid #000;
    border-radius: 25px;
}

.adminOrderCardTitle {
    margin: 0;
    padding: 10px 0;
    color: #000;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 25px 25px 0 0;
    border-bottom: 1px solid #000;
    display: flex;
    justify-content: center;
    background-color: #ebebeb;
}

.adminOrderCardInfo {
    padding: 0px 10px;
}

.adminOrderCardInfo > p {
    margin: 15px 0;
    color: #000;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.adminOrderCardButtons {
    padding: 15px 15px;
    border-top: 1px solid #000;
    display: flex;
    justify-content: space-around;
    background-color: #ebebeb;
    border-radius: 0 0 25px 25px;
}