@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Inika:wght@700&family=Inter:wght@300;400;700&family=Open+Sans:wght@400;700&family=Roboto&family=Tinos&display=swap');

.cardOfTheDish {
    max-height: 210px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(117, 117, 117, 0.2);
    cursor: pointer;
    transition: all .15s;
}

.cardOfTheDish:hover {
    box-shadow: 0 0 7px 1px rgba(110, 110, 110, 0.3);
}

.information {
    margin: 16px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    margin: 0;
    padding: 0;
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.price {
    margin: 0;
    padding: 0;
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
}

.image {
    max-width: 300px;
}

.deleteIcon {
    max-width: 25px;
}

.priceAndDelete {
    display: flex;
    justify-content: space-between;
}