.add-dish-window {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.add-dish-window__form {
    position: relative;
    width: 500px;
    height: 100vh;
    background-color: #fff;
}

.add-dish-window__form__fields {
    width: 100%;
    margin: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-dish-window__form__fields__title {
    width: 90%;
    text-align: center;
    border-bottom: 1px solid #000;
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.add-dish-window__form__fields__inputs {
    min-width: 75%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-dish-window__form__fields__inputs__description {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.add-dish-window__form__fields__inputs__description > textarea{
    max-width: 225px;
    max-height: 225px;
}

.add-dish-window__form__fields__inputs__description > label {
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.add-dish-window__form__fields__add-button {
    margin-top: 10px;
    width: 75%;
    height: 30px;
    color: #fff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 5px;
    transition: all .1s;
}

.add-dish-window__form__fields__add-button:hover {
    background-color: #373737;
}

.add-dish-window__form__fields__inputs__div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.add-dish-window__form__fields__inputs__div > label {
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.add-dish-window__form__fields__inputs__div > input {
    margin-left: 10px;
    width: 100%;
    height: 25px;
}

.add-dish-window__form__fields__inputs__div > select {
    margin-left: 10px;
    width: 100%;
    height: 25px;
}