.authorization-background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.authorization {
    height: calc(100vh - 108px - 77px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-form {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #343434cf;
    border-radius: 20px;
    box-shadow: 0 15px 25px 10px #00000095;
}

.auth-form__title {
    margin: 0;
    color: #ffffff;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.auth-form__fields {
    width: 625px;
    margin-top: 15px;
    padding: 15px 0;
    border-top: 1px solid #b0b0b0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.auth-form__field {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.auth-form__field > label {
    color: #ffffff;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.auth-form__field > input {
    margin-left: 10px;
    padding-left: 7px;
    width: 80%;
    height: 32px;
    border: 1.5px solid #000000;
    border-radius: 5px;
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.auth-form__bottom-info-and-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth-form__bottom-info-and-buttons > span {
    color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
}