.bucket-list {
    margin: 0 85px;
}

.bucket-list__main-text {
    color: #1D1D1D;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}

.bucket-list__total-cost-block {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bucket-list__total-cost-block__buttons {
    display: flex;
    gap: 20px;
}

.modal__reservation__title {
    margin: 0;
    color: #000;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.modal__reservation__fields-block {
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-top: 1px solid #000;
}

.modal__reservation__buttons {
    display: flex;
    justify-content: space-between;
}