.clients-reviews-section {
    padding: 45px 190px 75px;
    background-color: #E5E5E5;
}

.clients-reviews-section__content {
    margin: 30px 50px 50px;
    min-width: 920px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-reviews-section__content__profile-icon {
    margin: 15px 0;
    max-width: 100px;
}

.clients-reviews-section__content__title {
    margin: auto;
    width: max-content;
    color: #000;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.clients-reviews-section__content__review {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
}

.clients-reviews-section__content__visitor {
    margin: 0;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.clients-reviews-section__content__visitor-name {
    margin-top: 8px;
    color: #000;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}