@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;700&family=Inika:wght@700&family=Inter:wght@300;400;700&family=Open+Sans:wght@400;700&family=Tinos&display=swap');

body {
    margin: 0;
    padding: 0;
}

.main-section {
    position: relative;
    width: 100%;
    height: 1021px;
    background: url('../assets/images/HERO\ IMG.png') no-repeat;
    background-size: 100%;
}

.main-section__view-menu-block {
    margin-top: 10%;
    margin-left: -40%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
}

.main-section__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-section__text > h2 {
    margin: 0;
    color: #D67E35;
    font-family: Tinos;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-section__text > h1 {
    margin: 0;
    color: #D67E35;
    font-family: Tinos;
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-section__text > p {
    margin-top: 12px;
    display: flex;
    align-items: center;
    color: #FFF;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    border-bottom-color: #FFF;
    border-bottom-width: 1px;
}

.line {
    margin: 8px;
    width: 60px;
    height: 2px;
    background-color: #fff;
}

.header {
    background-color: #000;
    padding: 30px 165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    width: auto;
}

.navigation-menu {
    display: flex;
    gap: 20px;
}

.navigation-menu__items {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    align-items: center;
}

.navigation-menu__items > li{
    list-style: none;
}

.nav-links {
    text-decoration: none;
    font-family: 'Open Sans';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: #FFF;
}

.active {
    text-decoration: underline;
}

.main-section__cards {
    position: absolute;
    bottom: 0;
    margin: 0 165px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.our-story__info-block {
    display: flex;
    padding: 165px 165px 125px;
    gap: 125px;
}

.our-story__info-block__description {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story__info-block__description > h1 {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: Tinos;
    font-size: 54px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-story__info-block__description > p {
    margin: 20px 0 0 0;
    padding: 0;
    color: #656363;
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-story__info-block__description > h1 > span {
    color: #D67E34;
}

.our-story__info-block__description__numbers {
    margin-top: 50px;
    display: flex;
    gap: 35px;
}

.our-story__info-block__description__numbers__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-story__info-block__description__numbers__item > h1 {
    margin: 0;
    color: #BC9060;
    text-align: center;
    font-family: Open Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-story__info-block__description__numbers__item > p {
    margin: 0;
    color: #000;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-story__order-table {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/images/delicious.png') no-repeat;
    background-size: 100%;
}

.our-story__order-table__info {
    margin: 80px 0;
    max-width: 601px;
}

.our-story__order-table__info > h2 {
    margin: 0;
    color: #D67E34;
    font-family: Tinos;
    font-size: 52px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our-story__order-table__info > p {
    margin: 0;
    margin-top: 20px;
    color: #FFF;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}